<!doctype html>
<html lang="en">
    <head>
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img src="/static/img/error.svg" alt="PAID" height="350px" class="paid">
                </div>
            </div>
        </div>
        <h2 class="text-center text-paid">Error</h2>

        <p class="text-center text-paid">No internet connection or API down</p>
        <p class="text-center text-paid">Call <b class="text-info">+86 185 0013 0643</b> for support</p>

        <a href="/" class="text-center">
            <button class="btn btn-primary cancel">RETRY</button>
        </a>

        <script>
            window.setTimeout(function(){
                window.location = "/";
            }, 15000); // Redirects after 15 seconds
        </script>

    </body>
</html>