<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>
	    <!-- Slider -->
	    <!-- previous -->
	    <div class="align-horizon">
		    <button class="js-prev"> < </button>
		    <div class="siema">
		        <div>
		        	<a href="#">
		        		<img src="/static/items/coke.jpg" alt="Coke" width="280px">
		        		<p>$1</p>
		        	</a>
		        </div>
		        <div>
		        	<a href="">
		        		<img src="/static/items/coke_zero.jpg" alt="Zero Coke" width="280px">
		        		<p>$1</p>
		        	</a>
		        </div>
		    </div>
		    <!-- next -->
		    <button class="js-next"> > </button>
		</div>

        <!-- JavaScript -->
        <script src="/static/siema.min.js"></script>
        <script>
			var mySiema = new Siema({loop: true});
	        document.querySelector('.js-prev').addEventListener('click', function() {mySiema.prev()});
	        document.querySelector('.js-next').addEventListener('click', function() {mySiema.next()});
        </script>

    </body>
</html>