<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <div class="center-element">
            <img src="/static/items/{{ item }}.jpg" alt="Coke" height="260px">
            <div class="pricing">
                <h2>PRICE: {{ price }} BCH ($1)</h2>
                <img src="/static/qr.png" alt="QR code payment" height="185px">
            </div>
            <br>
            <a href="/">
                <button class="cancel">CANCEL ORDER</button>
            </a>
        </div>

        <!-- Check the payment -->
        <script src="static/js/jquery.js"></script>
        <script>

            function verify_payment() {
                $.getJSON("https://rest.bitcoin.com/v1/address/details/bitcoincash%3Aqzrcvjpplnpa6qq2dtcshmke4yl9ngdwfcyfan5vtc",
                    function(data){
                        var new_balance = data.unconfirmedBalance + data.balance;
                        console.log(new_balance);
                        // we allow a 5% margin with the price
                        if (new_balance > {{ balance + exact_price - exact_price * 0.05 }}) {
                            window.location = "/{{ item }}/paid";
                    }
                });
            }

            window.setInterval(function(){
                verify_payment();
            }, 1500); // checks every 1.5 second

        </script>

    </body>
</html>