<!doctype html>
<html lang="en">
    <head>
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>

        <div class="container">
        	<div class="row justify-content-md-center order-item">
        		<div class="col-md-6">
        			<img src="/static/items/{{ item }}.png{{ forcer }}" alt="{{ item }}" height="450px">
        		</div>
              	<div class="col-md-6">
                  <div class="text-center">
                      <h1>PRICE: {{ price }} BCH ($1)</h1>
                      <img src="/static/qr.png" alt="QR code payment">
                  </div>
              	</div>
          </div>
        </div>


        <a href="/" class="text-center">
            <button class="btn btn-primary cancel">CANCEL ORDER</button>
        </a>


        <!-- Check the payment -->
        <script src="static/js/jquery.js"></script>
        <script>

            var balance;

            $.ajax({
             url: 'https://rest.bitcoin.com/v1/address/details/bitcoincash%3Aqzrcvjpplnpa6qq2dtcshmke4yl9ngdwfcyfan5vtc',
            }).done(function (data) {
             balance = data.unconfirmedBalance + data.balance;
             console.log(balance);
            });

            function verify_payment() {
                $.getJSON("https://rest.bitbox.earth/v1/address/details/bitcoincash%3Aqzrcvjpplnpa6qq2dtcshmke4yl9ngdwfcyfan5vtc",
                    function(data){
                        var new_balance = data.unconfirmedBalance + data.balance;
                        console.log(new_balance);
                        // we allow a 6% margin with the price
                        if (new_balance > balance + {{ exact_price - exact_price * 0.06 }}) {
                            window.location = "/{{ item }}/paid";
                    }
                });
            }

            window.setInterval(function(){
                verify_payment();
            }, 2000); // checks every 2 seconds

        </script>

    </body>
</html>