<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <img src="/static/img/paid.png" alt="PAID" height="160px" class="center-image">
        <p class="text-center">Thank you for your purchase</p>

        <script>
            window.setTimeout(function(){
                // redirects to the home page after 5 seconds
                window.location = "/";
            }, 5000);
        </script>

    </body>
</html>